body{
	width: 100%;
	max-width: 100%;
	background: var(--lightgray);
	margin-bottom: 0px;
	overflow-x: hidden;
}
* {
	margin: 0;
	padding: 0;
	outline: none !important;
}

html {
	scroll-behavior: smooth;
}
/* <---Color variables---> */
:root {
  --blue__primary: #1A4FD1;
  --blue__secondary: #C2DBFF;
  --gray: #766F6F;
  --lightgray: #F1F6FA;
  --black: rgb(34,34,34);
  --white: #ffffff; 
}
/* <--------Google Fonts--------->
<-----Titles----->
font-family: 'Rubik', sans-serif;
font-family: 'Poppins', sans-serif;
<-----Paragraphs----->
font-family: 'Catamaran', sans-serif;
font-family: 'Nunito', sans-serif;
*/


/* <------Constants-------> */
/* <--button--> */
.blue__button, .white__button, .lightblue__button {
	padding: 10px 20px;
	text-align: center;
	text-decoration: none;
	font-size: 18px;
	font-weight: bold;
	border-radius: 10px;
	cursor: pointer;
	transition: all 0.3s ease-in-out;
}
/* blue */
.blue__button {
	background-color: var(--blue__primary);
	color: var(--white);
	border: none;
}
.blue__button:hover {
	background-color: var(--white);
	color: var(--blue__primary);
	border: 1px solid var(--blue__primary);
	transform: scale(1.1);
}

/* white */
.white__button {
	background-color: var(--white);
	color: var(--blue__primary);
	border: none;
}
.white__button:hover {
	background-color: var(--blue__primary);
	color: var(--white);
	border: 1px solid var(--white);
	transform: scale(1.08);
}

/* lightblue */
.lightblue__button {
	width: 100%;
	padding: 20px;
	font-weight: bold;
	background-color: var(--blue__secondary);
	color: var(--blue__primary);
	border: none;
}
.lightblue__button:hover {
	background-color: var(--blue__primary);
	color: var(--white);
	border: 1px solid var(--white);
	transform: scale(1.02);
}

/* <--subtitles--> */
.subtitle__container {
	display: flex;
	justify-content: left;
	align-items: end;
	text-align: left;
	margin-bottom: 10px;
}
.rectangle {
	width: 30px;
	height: 4px;
	background: var(--blue__secondary);
	margin-left: 5px;
	position: relative;
	top: -3px;
}
.subtitle {
	font-size: 18px;
	color: var(--blue__primary);
	font-weight: bold;
}
.gray__subtitle {
	font-size: 18px;
	color: var(--gray);
	font-weight: bold;
}
.lightblue__subtitle {
	font-size: 18px;
	color: var(--blue__secondary);
	font-weight: bold;
}
.black__subtitle {
	font-size: 20px;
	color: var(--black);
	font-weight: bold;
}

/* <--title--> */
.title {
	font-size: 45px;
	color: var(--white);
	font-weight: bold;
	margin-bottom: 10px;
}
.blue__title {
	font-size: 35px;
	font-weight: bold;
	color: var(--blue__primary);
}
.white__title {
	font-size: 35px;
	font-weight: bold;
	color: var(--white);
}
.title__black__small {
	font-size: 25px;
	font-weight: bold;
	color: var(--black);
}

/* <--texts--> */
.text__big {
	font-size: 20px;
	color: var(--gray);
	font-weight: bolder;
	margin-bottom: 10px;
}
.text__normal {
	font-size: 18px;
	color: var(--gray);
	margin-bottom: 10px;
}
.lightblue__text {
	font-size: 18px;
	color: var(--blue__secondary);
	margin-bottom: 10px;
	font-weight: bolder;
}

/* <--------Fonts--------->*/
h1, h2, h3, h4{
	font-family: 'Poppins', sans-serif;
	margin: 0px;
}
p, a, li, select{
	font-family: 'Nunito', sans-serif;
	margin: 0px;
}

/* <---------Header--------->*/
#header {
	border-bottom: 1px solid var(--gray);
}

/* nav container */
.nav__container {
	width: 100%;
	max-width: 1200px;
	margin: auto;
	height: 140px;
	padding: 20px 0px 20px 0px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

/* logo */
.logo__container {
	width: 150px;
	height: 80px;
	background: none;
}
.logo {
	height: 100%;
}

/* nav inner container */
.nav__inner__container {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: right;
	align-items: center;
	flex: 1;
}
.nav__item {
	margin-right: 20px;
}
.nav__link {
	color: var(--black);
	font-size: 22px;
	font-weight: bolder;
}
.nav__link:hover {
	color: var(--blue__primary);
}
.nav__link:active {
	color: var(--blue__primary);
}
/* nav links */
.nav__links {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.nav__lang__container {
	margin-right: 20px;
	height: 20px;
}
.nav__lang__container p {
	font-size: 20px;
	color: var(--black);
	font-weight: bolder;
	text-decoration: underline;
	position: relative;
	top: -5px;
	cursor: pointer;
}
.social__container {
	margin-right: 20px;
}
.social__icon {
	color: var(--blue__primary) !important;
	margin-right: 5px;
	transition: all 0.3s ease-in-out;
}
.social__icon:hover {
	transform: scale(1.1);
}

/* dropdown */
.dropbtn {
	background: none;
	border: none;
}
.dropdown {
	background: red;
	padding: 10px 0px;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 5px;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover + .dropdown-content {
  display: block;
}
.show {display: block;}

/* <---------Landing--------->*/
.landing__container {
	width: 100%;
	height: calc(100vh - 140px);
	background-image: url('../img/surgeries/lapa.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	overflow: hidden;
}
.landing__overflow {
	width: 100%;
    height: calc(100vh - 140px);
    background-color: rgba(26, 79, 209, 0.95);
    opacity: 0.95;
    display: flex;
    justify-content: center;
    align-items: center;
}
.landing__info {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	flex: 0.55;
}
.landing__info__container {
	width: 100%;
	max-width: 500px;
	margin: auto;
	text-align: left;
}

.landing__image__container {
	flex: 0.5;
	width: 50vw;
	height: 100%;
	max-height: calc(100vh - 140px);
	overflow: hidden !important;
}
.image__circle {
	width: 45vw;
	height: auto;
	position: absolute;
	bottom: 0px;	
	text-align: center;
	padding-bottom: 100px;
}
.image__doc {
	width: 45vw;
	height: auto;
	position: absolute;
	bottom: 0px;
	text-align: center;
}

.image__circle img {
	width: 45vw;
	max-width: 800px;
	width: 100%;
	animation-name: rotate;
	animation-duration: 10s;
	animation-iteration-count: infinite;
}

.image__doc img {
	width: 45vw;
	max-width: 800px;
	width: 100%;
}

@keyframes rotate {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}



/* <---------Contact info--------->*/
.links__container {
	width: 100%;
	max-width: 1500px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: auto;
	position: relative;
	margin-top: -100px;
	margin-bottom: -38px;
	border-radius: 10px;
}
.link__item {
	display: flex;
	justify-content: space-between;
	align-items: center;
	box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
	background: var(--white);
	margin-right: 50px;
	padding: 40px 20px;
	flex: calc(1/3);
	border-radius: 10px;
}
.link__item img {
	width: 50px;
	height: 50px;
	margin-right: 20px;
}
.link__item div {
	flex: 1;
}

.link__item a {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.link__inner__container i {
	flex: 1;
	color: var(--blue__primary);
}
.link__inner__container p {
	margin-right: 10px;
	color: var(--blue__primary);
	font-weight: bolder;
	transition: all 0.3s ease-in-out;
}
.link__inner__container p:hover {
	margin-right: 20px;
}


/* <---------Laparoscopy--------->*/
.lapa__container {
	width: 100%;
	background: var(--lightgray);
}
.lapa__inner__container {
	width: 95%;
	padding: 100px 0px;
	max-width: 1600px;
	margin: auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	
}

.lapa__info {
	display: flex;
	justify-content: space-between;
	align-items: start;
	flex-direction: column;
	height: 100%;
	padding: 50px;
	flex: 0.5;
}

/* lapa info top */
.lapa__info__top {
	margin-bottom: 100px;
}
.lapa__info__top h2 {
	margin-bottom: 20px;
}
.lapa__text {
	border-left: 4px solid var(--blue__primary);
	padding-left: 10px;
}

/* lapa info bottom */
.lapa__facts {
	display: grid;
	grid-template-columns: auto auto;
	column-gap: 50px;
	row-gap: 50px;
	padding-top: 30px;
}
.lapa__fact {
	display: flex;
	justify-content: left;
	align-items: center;
}

.lapa__fact img {
	width: 80px;
	height: auto;
	margin-right: 20px;
}

/* video */
.video__container {
    flex: 0.5;
}

.video__iframe {
    width: 100%;
    height: 500px;
    border: none;
    border-radius: 10px;
}


/* <---------Services--------->*/
.services__container {
	width: 100%;
	padding: 100px 50px 100px 50px;
	background: var(--lightgray);
}

.services__outer__container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 50px 0px;
}

/* header */
.services__header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: row;
	margin-bottom: 50px;
	max-width: 1200px;
	margin: auto;
	margin-bottom: 150px;
}

/* services list */
.services__list {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: row;
	padding: 40px 20px 30px 20px;
	overflow-x: scroll;
	scroll-behavior: smooth;
	scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
}
.services__item {
	background: var(--white);
	border-radius: 10px;
	box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
	padding-bottom: 20px;
	text-align: left;
	min-width: 400px;
	margin-right: 30px;
	overflow: hidden;
}
.services__item div {
	padding: 30px;
}

.service__image {
	display: flex;
	justify-content: center;
	align-items: center;
	background: var(--blue__secondary);
	margin-bottom: 20px;
}
.service__image img {
	width: 100px;
	height: auto;
	position: relative;
}

/* services buttonn */
.services__btn {
	width: 60px;
	height: 60px;
	padding: 40px;
	border-radius: 50%;
	border: none;
	color: var(--blue__primary);
	background: var(--white);
	cursor: pointer;
	box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 30px;
	transition: all 0.3s ease-in-out;
}
.services__btn:hover {
	background: var(--blue__primary);
	color: var(--white);
	transform: scale(1.08);
}

/* WebKit */
.services__list::-webkit-scrollbar { 
    width: 0;
    height: 0;
}



/* <---------Open surgery vs. Laparosocopy--------->*/
.comparison__title {
	width: 100%;
	margin: auto;
	padding: 75px;
	background: var(--lightgray);
}

.comparison__title__container {
	width: auto;
	max-width: 600px;
	margin: auto;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}
.comparison__title__container h2 {
	margin-right: 20px;
}
.comparison__rectangle {
	max-width: 50px;
	height: 8px;
	background: var(--blue__primary);
	flex: 1;
	position: relative;
	float: left;
}


/* <---------Frame 1--------->*/
.frame__container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: var(--white);
}
.info__container {
	width: 100%;
	flex: 0.5;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	flex-direction: column;
	background: var(--white);
	height: 40vw;
}
.info__inner__container {
	max-width: 800px;
	margin: auto;
	padding: 50px;
}
.comparison__subtitle__container {
	display: flex;
	justify-content: flex-start;
	align-items: flex-end;
	margin-bottom: 50px;
}
.comparison__subtitle__container h3 {
	margin-right: 20px;
}
.comparison__rectangle2 {
	width: 50px;
	height: 8px;
	background: var(--blue__primary);
}

/* <---------Facts - (Benefits and importance)--------->*/
.facts__container {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 100px;
    width: 100%;
    max-width: 1600px;
    margin: auto;
    margin-bottom: 100px;
}
.fact__container {
    text-align: left;
}
.square__container {
    border: 2px solid var(--blue__primary);
    border-radius: 10px;
    padding: 50px;
}
.fact__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
}
.fact__item img {
    width: 50px;
    margin-right: 20px;
}
.fact__item h4 {
    flex: 1;
}

.image__container {
	flex: 0.5;
	background-image: url('../img/surgeries/lapa.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 900px;
}

.image__overlay {
	width: 100%;
	height: 100%;
	background-color: rgba(26, 79, 209, 0.95);
	display: flex;
	justify-content: center;
	align-items: center;
}
.image__overlay img {
	width: 50%;
}

/* <---------Other Services--------->*/
.services {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    text-align: center;
	padding-top: 150px;
}
.services h2 {
    margin-bottom: 75px;
}
.other__services__list {
    margin: auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: row;
	padding: 40px 20px 30px 20px;
}
.other__services__item {
	background: var(--white);
	border-radius: 10px;
	box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
	padding: 20px;
	text-align: left;
	min-width: 300px;
	margin-right: 30px;
}
.other__services__item img {
	width: 80px;
	height: auto;
	position: relative;
	top: -60px;
	margin-bottom: -40px;
}



/* <---------Reviews--------->*/
.reviews__container {
	width: 100%;
	padding: 50px;
	text-align: center;
}
.reviews__container h2 {
	margin-bottom: 50px;
}
.reviews__iframe {
	background: var(--lightgray);
}



/* <---------Appointment--------->*/
.appointment {
	background: var(--blue__primary);
	width: 100%;
	padding: 70px;
	text-align: center;
}
.appointment h2 {
	margin-bottom: 20px;
}
.appointment h5 {
	max-width: 300px;
	margin: auto;
	margin-bottom: 100px;
}
.appointment__container {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: row;
	margin: auto;
}

/* map */
.mapouter {
	position: relative;
	height: 600px;
	width: 100%;
	flex: 0.45;
}
.mapa_iframe {
	width: 100%;
	height: 600px;
	border-radius: 10px;
}

/* image */
.appointment__image {

}

/* form */
.form__container {
	flex: 0.45;
}
.form__container form {
	width: 100%;
}
.inputs__container {
	width: 100%;
	display: grid;
	grid-template-columns: auto auto;
	column-gap: 30px;
	row-gap: 30px;
	margin-bottom: 30px;
}
.input_outer__container {
	width: 100%;
}
.input__container, .textarea__container {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: row;
	margin-bottom: 20px;
	background: var(--white);
	border-radius: 10px;
	padding: 10px 15px;
}
.input__container img, .textarea__container img {
	margin-right: 10px;
}
.input {
	flex: 1;
	outline: none !important;
	border: none !important;
}
.form__label {
	text-align: left;
	color: var(--blue__secondary);
	margin-bottom: 10px;
	font-size: 20px;
	font-weight: bolder;
}
.textarea_outer__container {
	margin-bottom: 50px;
}
.textarea__container {
	align-items: flex-start;
	
}


/* <---------Footer--------->*/
.footer {
	width: 100%;
	background: var(--lightgray);
	padding: 50px;
}

.footer__container {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	width: 100%;
	max-width: 1200px;
	margin: auto;
	margin-bottom: 50px;
}

/* logo and phrase */
.footer__logo {
	width: 350px;
}
.footer__logo img {
	width: 120px;
	height: auto;
	margin-bottom: 30px;
}
.phrase {
	color: var(--blue__primary);
	font-size: 25px;
	font-weight: bold;
	font-style: italic;
}

/* links */
.list__container h5 {
	margin-bottom: 20px;
}
.footer__list {
	list-style: none;
}
.footer__list li {
	margin-bottom: 15px;
}
.footer__link {
	color: var(--gray);
	font-size: 20px;
	font-weight: bolder;
}

/* contact info */
.contact__item {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	flex-direction: row;
	margin-bottom: 20px;
}
.contact__item img {
	width: 25px;
	height: auto;
	margin-right: 10px;
}
.contact__item p {
	flex: 1;
	max-width: 200px;
}


/* <---------Copyright--------->*/
.copyright__container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	max-width: 1200px;
	margin: auto;
	border-top: 1px solid var(--blue__secondary);
	padding: 20px 0px;
}
.copyright {
	flex: 1;
}
.copyright {
	color: var(--gray);
	font-weight: bolder;
}



/*----------Go back button----------*/
.goback, .whatsapp{
    position: fixed;
    z-index: 999999;
    bottom: 25px;
    right: 30px;
}
.goback i, .whatsapp i{
    color: rgb(3,126,243);
    text-decoration: none;
	transition: transform 450ms;
	text-shadow: 5px 5px 5px 5px rgba(25, 25, 25, 0.25), 0 10px 10px rgba(25, 25, 25, 0.22);

}
.goback i:hover, .whatsapp i:hover {
	transform: scale(1.2);
}


.whatsapp {
    right: 80px;
}