body{
	width: 100%;
	max-width: 100%;
	background: #F1F6FA;
	margin-bottom: 0px;
	overflow-x: hidden;
}

/* <---Color variables---> */
:root {
  --blue__primary: #1A4FD1;
  --blue__secondary: #C2DBFF;
  --gray: #766F6F;
  --lightgray: #F1F6FA;
  --black: rgb(34,34,34);
  --white: #ffffff; 
}

/* <---------Landing--------->*/
.landing__container {
	width: 100%;
	height: 50vh;
    background-image: url('../img/surgeries/lapa.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.landing__overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(26, 79, 209, 0.95);
    opacity: 0.95;
    display: flex;
    justify-content: center;
    align-items: center;
}
.landing__info {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.landing__image {
	width: 140px !important;
	height: 140px !important;
	background: none !important;
	border-radius: 50%;
	border: 5px solid var(--white);
	display: flex;
	justify-content: center;
	align-items: center;
}
.landing__image img {
    width: 100px;
	height: auto;
}
.landing__info h2 {
    margin-bottom: 20px;
}
.landing__info div {
    width: 160px;
    height: 10px;
    background: var(--white);
    margin: auto;
}
/* <-----responsive-----> */
/* 1200 */


/* <---------About info--------->*/
.about {
	width: 95%;
	max-width: 1600px;
	padding: 75px;
	margin: auto;
	box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
	position: relative;
	margin-top: -50px;
	margin-bottom: 100px;
	background: var(--white);
	border-radius: 10px;
    text-align: left;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.about h4 {
    margin-bottom: 10px;
}
.about h2 {
    margin-bottom: 50px;
}
.about p {
    text-align: justify;

}
.about__info {
    flex: 0.5;
    margin-right: 50px;
}
.video__container {
    flex: 0.5;
}

.video__iframe {
    width: 100%;
    height: 500px;
    border: none;
    border-radius: 10px;
}
/* <-----responsive-----> */
/* 1200 */
@media (max-width: 1200px) {
	.about {
		padding: 30px;
	}
}
/* 992 */
@media (max-width: 992px) {
	.about {
		display: block;
	}
	.about__info {
		margin: auto;
		margin-bottom: 30px;
	}
}


/* <---------Facts - (Benefits and importance)--------->*/
.facts__container {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 100px;
    width: 95%;
    max-width: 1600px;
    margin: auto;
    margin-bottom: 100px;
}
.facts__container::before {
	content: none;
}
.fact__container {
    text-align: left;
}
.square__container {
    border: 2px solid var(--blue__primary);
    border-radius: 10px;
    padding: 50px;
}
.fact__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
}
.fact__item img {
    width: 50px;
    margin-right: 20px;
}
.fact__item h4 {
    flex: 1;
}

/* <-----responsive-----> */
/* 1350 */
@media (max-width: 1350px) {
	.facts__container {
		column-gap: 50px;
	}
	.fact__header h3 {
		font-size: 30px;
	}
	.square__container {
		padding: 30px;
	}
}
/* 1130 */
@media (max-width: 1130px) {
	.facts__container {
		column-gap: 20px;
	}
	.fact__header h3 {
		font-size: 25px;
	}
	.square__container {
		padding: 20px;
	}
}
/* 992 */
@media (max-width: 992px) {
	.facts__container {
		grid-template-columns: auto;
		row-gap: 50px;
	}
}



/* <---------Other Services--------->*/
.services {
    width: 95%;
    max-width: 1200px;
    margin: auto;
    text-align: center;
}
.services h2 {
    margin-bottom: 75px;
}
.services__list {
    margin: auto;
	display: grid;
	grid-template-columns: auto auto auto;
	column-gap: 30px;
	padding: 40px 20px 30px 20px;
}
.services__list::before {
	content: none;
}
.services__item {
	background: var(--white);
	border-radius: 10px;
	box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
	padding: 20px;
	text-align: left;
	//min-width: 300px;
}
.services__item img {
	width: 80px;
	height: auto;
	position: relative;
	top: -60px;
	margin-bottom: -40px;
	background: var(--blue__primary);
	padding: 10px;
	border-radius: 50%;
}

/* <-----responsive-----> */
/* 992 */
@media (max-width: 992px) {
	.services__list {
		grid-template-columns: auto auto;
		row-gap: 60px;
	}
	.services__item3 {
		grid-column: 1 / span 2;
	}	
}
/* 576 */
@media (max-width: 576px) {
	.services__list {
		grid-template-columns: auto;
	}
	.services__item {
		grid-column: 1;
		text-align: center;
	}
	.services__item h3 {
		margin-bottom: 20px;
	}
	.services__item p {
		text-align: center;
	}
}

